<html>
    <head>
        <title>Blogpage</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
        <link rel="stylesheet" href="./css/style.css">
    </head>
    <body>
        <div class="back">
        <div class="container">
        <div class ="title_blog">{{title}}</div> 
        <div class ="author_blog">-{{author}}</div>
        <div class ="blog_portion">{{blog_portion}}</div>
        <a href = /homepage>Back to Homepage</a>
        </div>
        </div>

    </body>
<html>    
